* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: inherit;
}

header {
    position: sticky;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 1000;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e5e7eb;
    padding: 20px;
}

.header-container{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    align-items: center;
}

.header-menu-container {
    display: flex;
    position: relative;
    align-items: center;
}

.header-menu-container a {
    font-size: 24px;
    color: black;
    font-weight: 500;
}

.header-navigation ul{
    margin-right: 30px;
    display: flex;
    gap: 32px;
}

.header-navigation ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.header-right-actions{
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.header-search-input{
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background: #f9fafb; 
    padding: 10px 20px;   
}

.header-right-actions input{
    border: none;
    background-color: #f9fafb;
}

.header-search-btn {
    cursor: pointer;
    border: none;
    background-color: #f9fafb;
}

.header-user-logo {
    border: none;
    background-color: #f9fafb;
}

.header-cart-logo{
    border: none;
    background-color: #f9fafb;
}

.header-cart-logo span{
    position: absolute;
    background: #ef4444;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    background: linear-gradient(to bottom right, #1f2937, #374151, #000);
    color: white;
    padding: 80px 0;
    position: relative;
    overflow: hidden;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-content {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    gap: 36px;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transform: scale(0.92);
}

